{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mapa de Radares DGT</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"/>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.6/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.6/dist/sweetalert2.all.min.js"></script>
</head>
<body>

    <div class="contenedor-principal">
        <div id="sidebar">
            <h3 style="margin-top: 0;">Lista de Radares</h3>
            <input type="text" id="buscador-radares" placeholder="Buscar por nombre...">
            <div id="lista-radares">
            </div>
        </div>

        <div id="map"></div>
    </div>

    <button onclick="llamarActualizacion()" id="btn-actualizar">
        Actualizar DGT
    </button>

    <button onclick="centrarEnMiPosicion()" id="btn-localizar">
        📍
    </button>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.js"></script>
    <script>
        const datosRadares = {{ radares_data|safe }};
    </script>
    <script src="{% static 'js/mapa.js' %}"></script>

</body>
</html>